.wrap {
  display:flex;
  flex-direction:column;
  align-items:center;
  border:2px solid black;
  padding-block:5rem;
  margin-bottom:3rem;
  background:#f5f5f5;
  border-radius:15px;
  word-break:keep-all;
  text-align:center;

  > strong {font-size:clamp(1rem, 2vw, 1.5rem);}
  > p {font-size:1rem;}
}