@use '@/styles/breakpoints' as breakpoint;

.wrap {
  border:1px solid black;
  border-radius:30px;
  width:100%;
  line-height:38px;
  text-align:center;
  font-size:12px;
  background:white;
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    line-height:54px;
    font-size:24px;
  }
}