@use '@/styles/breakpoints' as breakpoint;

.wrap {
  max-width:var(--desktop-layout);
  width:100%;

  > .layout {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:1rem;
    padding-inline:1rem;
    overflow:hidden;
    padding-bottom:5.5rem;

    > .label {
      font-size:var(--font-primary-body);
    }

    > .regions-search-box {
      display:flex;
      flex-direction:column;
      gap:1rem;
      width:100%;

      > .regions-box {
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:10px;
      }
  
      > .search {
        width:100%;
        line-height:2rem;
        border:none;
        border-radius:50px;
        background:black;
        font-size:var(--font-primary-body);
  
        &.disabled {
          opacity:0.3;
          pointer-events:none;
        }
      }
    }
  }
}

@media (max-width:300px) {
  .wrap > .layout > .regions-search-box > .regions-box {
    grid-template-columns:1fr;
  }
}

@media (min-width:breakpoint.$tablet) {
  .wrap > .layout > .regions-search-box {
    flex-direction:row;

    > .regions-box {
      display:flex;
      flex:1;
    }

    > .search {
      flex:0.18;
      line-height:56px;
    }
  }
}