@use '@/styles/breakpoints' as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1.5rem;
  width:100%;
  
  > .title {
    font-size:var(--font-primary-heading2);
    font-weight:normal;
  }

  > .content {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    padding:1rem;
    overflow:hidden;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .content {
      padding: 0;
    }
  }
}