.wrap {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1.5rem;
  width:100%;
  
  > .title {
    font-size:var(--font-primary-body);
  }

  > .content {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    padding:1rem;
  }
}