@use '@/styles/breakpoints' as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  gap:1rem;

  > .label {
    font-size:var(--font-primary-body);
    font-weight:500;
  }

  > .tabs-box {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:0.5rem;
  }

  > .swiper-box {
    > .swiper {
      width:100%;
      height:144px;
      overflow:visible;
    }
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    gap:2rem;

    > .label {
      font-size: 1.5rem;
    }

    > .tabs-box {
      display:flex;
    }
  } 
}