@use '@/styles/breakpoints' as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  gap:1rem;
  user-select:none;
  overflow:hidden;

  > .label {
    font-size:var(--font-primary-body);
    font-weight:500;
    width:max-content;
  }

  > .tabs-box {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:0.5rem;
  }

  > .swiper-box {
    position:relative;
    display:flex;
    align-items:center;

    > .prev, .next {
      position:absolute;
      color:var(--color-primary-gray);
      display:flex;
      align-items:center;
      height:142.5px;
      z-index:2;

      > svg {
        width:40px;
        height:40px;
      }

      &:hover {
        cursor:pointer;
        color:black;
      }
    }

    > .next {
      transform:rotate(180deg);
      right:0;
    }

    :global(.swiper-button-disabled) {
      opacity:0.3;
      pointer-events:none;
    }

    > .swiper {
      width:100%;
      min-width:0;
      padding:0.5rem;
    }
  }

  > .link-box {
    .more {font-weight:normal;}
  }
}

@media (min-width: 600px) {
  .wrap > .swiper-box {
    > .prev, .next {
      > svg {
        width:unset;
        height:unset;
      }
    }
  } 
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    gap:2rem;

    > .label {
      font-size: 1.5rem;
    }

    > .tabs-box {
      display:flex;
    }

    > .swiper-box {
      display:flex;
      align-items:center;
      padding-inline:0.1rem;

      > .prev, .next {
        position:static;
      }
    }

    > .link-box {
      width:720px;
      align-self:center;
    }
  } 
}