.wrap {
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding:0.5rem;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 50%);
  border-radius:12px;

  > img {
    width:100%;
    height:100%;
    border-radius:12px;
  }

  > .contents-box {
    display:flex;
    flex-direction:column;
    gap:1rem;
    
    > .title {
      font-size: 20px;
    }

    > .detail-box {
      display:flex;
      flex-direction:column;
      gap:1rem;
      padding-block:0.5rem;
      background:rgb(102, 102, 102, 20%);

      > ul {
        padding-inline:0.25rem;

        > li {
          > p {
            display:flex;
            gap:0.5rem;
            > span {
              font-size:var(--font-primary-small);
              line-height:var(--font-primary-small-line-height);
            }
          }
        }
      }

      > .result {
        font-size:var(--font-primary-small);
        line-height:var(--font-primary-small-line-height);
        text-align:center;
      }
    }
  }
}