.footer {
  padding-inline:1rem;
  padding-block:0.5rem;
  background:#D7D7D7;
  border-top:1px solid var(--color-primary-gray);

  > .footer__inner {
    display:flex;
    flex-direction:column;
    gap:1rem;
    
    > .footer__logo-box {
      display:flex;
      width:max-content;
    }
  
    > .footer__explain-box {
      display:flex;
      flex-direction:column;
      gap:4px;
  
      > .footer__title {
        font-size:var(--font-primary-small);
      }
  
      > .footer__word {
        font-size:10px;
        color:var(--color-primary-gray);
      }
    }
  
    > .footer__links-box {
      display:flex;
      flex-direction:column;
      gap:4px;
    }
  
    > .footer__reserved-box {
      display:flex;
      flex-direction:column;
      gap:4px;
      font-size:10px;
      color:var(--color-primary-gray);
    }
  }
}

.footer__layout {
  font-size:10px;
  color:var(--color-primary-gray);

  > ul {
    display:flex;
    gap:0.5rem;

    > li {
      position:relative;
      display:flex;
      align-items:center;

      &::after {
        content:"";
        position:absolute;
        top:6px;
        right:-0.25rem;
        display:block;
        width:1px;
        height:6px;
        background:var(--color-primary-gray);
      }

      &:last-child::after {display:none;}
    }
  }
}