.wrap {
  position:relative;
  margin-top:72px;
  height:calc(100vh - 72px);
  min-height:300px;
  z-index:-1;

  > .bg-box {
    position:absolute;
    top:0;
    display:flex;
    width:100%;
    height:100%;
    z-index:-1;

    > .bg {
      width:100%;
      height:auto;
      object-fit:cover;
    }
  }

  > .content-layout {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    height:100%;
    margin-inline:1rem;
    padding-block:2.5rem;
    text-align:center;
    word-break:keep-all;

    > .content {
      display:flex;
      flex-direction:column;
      gap:1rem;
      padding-bottom:5.5rem;
      color:white;

      > .word {
        font-size:1rem;
        line-height:1rem;
      }
    }

    > .notify {
      display:flex;
      align-items:center;
      justify-content:center;
      gap:0.5rem;
      font-size:var(--font-primary-small);
      font-weight:bold;

      .down-img {
        @keyframes anim {
          from {
            
          }
        }
      }
    }
  }
}