@use '@/styles/breakpoints' as breakpoint;

.wrap {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:100%;

  > ul {
    display:flex;
    height:inherit;

    > li {
      width:100px;

      > a {
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        font-size:var(--font-primary-small);

        &:hover {
          background:var(--color-primary-green);
        }
      }
    }
  }
}

@media (max-width: breakpoint.$tablet) {
  .wrap {
    left:45%;
    > ul > li {
      width:80px;
    }
  }
}