.wrap {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  height:100%;

  > ul {
    display:flex;
    height:inherit;

    > li {
      width:120px;

      > a {
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;

        &:hover {
          background:var(--color-primary-green);
        }
      }
    }
  }
}