@use "@/styles/breakpoints" as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  gap:1.5rem;

  > .title {
    font-size:var(--font-primary-body);
    text-align:center;
  }

  > .cards-box {
    display:flex;
    flex-direction:column;
    gap:1rem;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .title {
      font-size:var(--font-primary-heading2);
      font-weight:normal;
    }

    > .cards-box {
      flex-direction:row;
    }
  }
}