.wrap {
  padding-block:5rem;
  margin-bottom:3rem;
  text-align:center;
  border-radius:15px;
  outline:2px solid black;
  word-break:keep-all;
  background:#f5f5f5;

  > .text-box {
    > strong {font-size:1.5rem;}
    > p {font-size:1.2rem;}
  }

  > .img-box {
    position:relative;
    width:100%;
    height:100px;
    overflow:hidden;

    > img {
      width:100%;
      height:100%;
      object-fit:cover;
    }
  }

  > span {
    display:block;
    margin-top:1rem;
    font-size:0.9rem;
    white-space:pre;
  }
}