.wrap {
  display:flex;
  gap:1rem;
  width:100%;
  max-height:142.5px;
  border-radius:12px;
  box-shadow:0 0 8px 0 rgba(0, 0, 0, 50%);
  padding:0.5rem;

  > img {
    outline:1px solid var(--color-primary-gray);
    border-radius:12px;
    -webkit-user-drag:none;
  }

  > .content-box {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    font-size:var(--font-primary-body);
    overflow:hidden;
    width:100%;

    > .description {
      display:-webkit-box;
      line-height:20px;
      text-overflow:ellipsis;
      overflow:hidden;
      max-width:100%;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
      line-clamp:2;
    }
  }
}