.wrap {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:0.5rem;
  outline:1px solid black;
  border-radius:50%;
  white-space:pre;
  text-align:center;
  background:white;
  width:100%;
  min-height:152px;

  > .recommend {
    font-size:var(--font-primary-body);
    font-weight:bold;
  }

  > .reason {
    font-size:0.75rem;
    line-height:15px;
  }
}

@media (max-width: 300px) {
  .wrap {
    white-space:unset;
    word-break:keep-all;
  }
}