.header {
  height: 72px;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--color-primary-green);

  > .layout {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
  }
}