.header {
  position:fixed;
  width:100%;
  height: 72px;
  padding-inline: 1rem;
  box-shadow:0 1px 0 0 var(--color-primary-green);
  background:white;

  > .layout {
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
  }
}