@use '@/styles/breakpoints' as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  gap:1rem;
  width:100%;
  padding-inline:1rem;

  > .title {
    font-size:var(--font-primary-body);
    align-self:center;
  }

  > .carousel-box {
    display:flex;
    flex-direction:column;
    gap:2rem;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .title {
      font-size:var(--font-primary-heading2);
    }
  }
}