@use '@/styles/breakpoints' as breakpoint;

.wrap {
  display:flex;
  flex-direction:column;
  gap:1rem;
  width:100%;
  padding-inline:1rem;
  max-width:var(--desktop-layout);

  > .title {
    font-size:var(--font-primary-body);
    align-self:center;
  }

  > .carousel-box {
    display:flex;
    flex-direction:column;
    gap:2rem;
  }
}

@media (min-width: breakpoint.$tablet) {
  .wrap {
    > .title {
      font-size:var(--font-primary-heading2);
    }
  }
}

@media (min-width: breakpoint.$desktop) {
  .wrap {
    overflow:hidden;
    gap:5.5rem;

    > .carousel-box {
      gap:5.5rem;
    }
  }
}