:root {
  --background: #f9f9f9;
  --foreground: #222222;
  --color-primary-green: #6BCF9D;
  --color-primary-gray: #666666;
  --color-primary-card-bg: #ffffff;
  --font-primary-heading1: 40px;
  --font-primary-heading2: 28px;
  --font-primary-body: 16px;
  --font-primary-small: 12px;
  --font-primary-small-line-height: 20px;
  --desktop-max-width: 1240px;
  --mobile-max-width: 353px;
  --desktop-layout: 1200px;
  --mobile-layout: 343px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {cursor:pointer;}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
