@use '@/styles/mixins' as mixins;

.bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 20%);

  > .wrap {
    position:absolute;
    top:0;
    right:-225px;
    background:var(--background);
    width:225px;
    height:100%;
    box-shadow:-4px 0 4px 0 rgba(0, 0, 0, 25%);

    > .layout {
      display:flex;
      flex-direction:column;
      gap:1.5rem;
      margin-top:1.4rem;

      > .top {
        display:flex;
        flex-direction:column;
        gap:1.5rem;
        padding-inline:0.5rem;

        > .close-btn {
          display:flex;
          width:max-content;
          background:none;
          border:none;
        }

        > .join-layout {
          display:flex;
          justify-content:space-between;
          
          > a {
            display:flex;
            justify-content:center;
            align-items:center;
            padding-inline:30px;
            outline:1px solid black;
            border-radius:0.5rem;
            line-height:2rem;
            font-size:var(--font-primary-small);
            background:white;
            @include mixins.auth-btn-hover;
          }
        }
      }

      > .nav {
        li > a {
          width:100%;
          line-height:40px;
          text-align:right;
          padding-right:0.5rem;

          &:hover {
            background:var(--color-primary-green);
          }
        }
      }
    }
  }
}